# Kdevelop 4 project files
.kdev4/*
*.kdev4

# Autoconf cache
autoconf/aclocal.m4
autoconf/autom4te.cache/*

# Build dir
build/*

# test dir
tests/*/*.bc
tests/*/*.ll
tests/*/output/*
tests/correctness/correct1
tests/correctness/correct2
tests/correctness/correct3
tests/correctness/correct4
tests/correctness/correct1.slicm
tests/correctness/correct2.slicm
tests/correctness/correct3.slicm
tests/correctness/correct4.slicm
